# Kconfig - nRF52832-MDK board configuration
#
# Copyright (c) 2018 Zaowubang, Inc.
#
# SPDX-License-Identifier: Apache-2.0

if BOARD_NRF52832_MDK

config  GPIO_AS_PINRESET
	bool "GPIO as pin reset (reset button)"
	default y

endif # BOARD_NRF52832_MDK
